@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400i,600,600italic,700,700italic,900,900italic');
body {
    background-color: white;
    font-family: 'source sans pro', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #000000;
    font-size: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-family: 'Source sans pro';
    color: #000000;
}

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1.06em;
}

p {
    margin-bottom: 1.3em;
}

strong {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

em {
    font-style: italic;
}

a {
    color: $accent;
    text-decoration: none;
}

ul,
ol {
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-left: 1.1em;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
