.FormSection {
    position: relative;
    padding: 1rem 0;
    color: white;
}

.FormSection:after {
    content: '';
    background-color: #b700df;
    width: 100vw;
    height: 480px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}