.FormSection {
    position: relative;
    padding: 1rem 0;
    color: white;
    z-index: 2;
}

.FormSection:after {
    content: '';
    background-color: #b700df;
    width: 100vw;
    height: 480px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    -webkit-clip-path : polygon(0% 0%, 100% 0, 100% 450px, 50% 100%, 0 450px);
            clip-path : polygon(0% 0%, 100% 0, 100% 450px, 50% 100%, 0 450px);
}